{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</td>
                <th scope="col">Shares</td>
                <th scope="col">Price</td>
                <th scope="col">Date</td>
            </tr>
        </thead>
        <tbody>
        {% for stock in data %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}