<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">
                <h2>Error</h2>
                <p>Your data was incorrect, please try again.</p></br>
                <form action="/">
                    <button>Return to homepage</button>
                </form>
            </div>
        </div>
    </body>
</html>
