img {
    width: 360px;
    height: 200px;
    border-radius: 5px;
}

.text {
    width: 40%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

